body{
    font-family:'Montserrat';
}
#title{
    /* background-color: #ff4c68; */
    background-color: #fe346e;
    color:#fff;
}

/* --------------------------------------------------------NAVIGATION BAR-------------------------------------------------*/
                                                        
.navbar{
    padding-bottom: 4.5rem;
}                                                        
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    font-family:'Montserrat-Thin',Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0 18px;
}

/* -------------------------------------------------BUTTONS-DOWNLOAD------------------------------------------------- */

.download-button{
    margin:5% 3% 5% 0;
}

/* ---------------------------------------------------TITLE-IMAGE------------------------------------------------------- */

.title-image{
    width:60%;
    /* transform: rotate(16deg); */
    margin-left: 3.8rem;
}

/* ---------------------------------------------------TITLE-TEXT------------------------------------------------------------*/

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height:1.5;
}

/*---------------------------------------------------- ICONS----------------------------------------------------------------- */

.fas{
    color: #fe346e;
    margin-bottom: 1.5rem;
    margin-top:150px;
}
.fas:hover{
    color:#eb4559;
}
h3{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}
.feature-row{
    margin-bottom:100px;
}
p{  
    color: #8f8f8f
    /* font-size: 5rem; */
    font-family: 'Montserrat', sans-serif;
}
  


/* ----------------------------------------------------FEATURES------------------------------------------------------------- */

.col-4{
    margin-top: 6.25rem;
}
.container-fluid{
    padding: 3% 15%;
}

