body{
    font-family:'Montserrat';
}
#title{
    /* background-color: #ff4c68; */
    background-color: #fe346e;
    color:#fff;
    /* text-align: center; */
}



/* --------------------------------------------------------NAVIGATION BAR-------------------------------------------------*/
                                                        
.navbar{
    padding-bottom: 4.5rem;
}                                                        
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.text{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    margin-left:2rem;
    
    
}

/* -------------------------------------------------BUTTONS-DOWNLOAD------------------------------------------------- */

.download-button{
    margin:5% 6% 5% 0;
}

/* ---------------------------------------------------TITLE-IMAGE------------------------------------------------------- */

.title-image{
    width:60%;
    /* transform: rotate(13deg); */
    right:6rem;
    margin-left:.1rem;
    
}


/* ---------------------------------------------------TITLE-TEXT------------------------------------------------------------*/

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height:1.5;
}

/*---------------------------------------------------- ICONS----------------------------------------------------------------- */

.fas{
    color: #fe346e;
    margin-bottom: 1.5rem;
    margin-top:150px;
}
.fas:hover{
    color:#eb4559;
}
h3{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
}
.feature-row{
    margin-bottom:100px;
}
p{  
    color: #8f8f8f;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}
  


/* ----------------------------------------------------FEATURES------------------------------------------------------------- */
#features{
    background-color: #fff;
    
}
.col-4{
    margin-top: 6.25rem;
}
.container-one{
    padding: 3% 15% 15% 9%;
}

/* -------------------------------------------------TESTIMONIAL-SECTION-----------------------------------------------------*/

#testimonials{
   
    text-align: center;
    background-color: #fe346e;
    /* background-color:#eb4559; */
}

.testimonials-head{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.7rem;
    font-weight: 900;
    color: #fff;

}

.testimonial-img{
    border-radius:100%;
    width:9rem;
    margin-top: 4rem;
}
em{
    color: #fff;
}
/* CAROUSEL */
.carousel-item{
    background-color: #fe346e;
    padding: 3% 15%;
}
/* ----------------------------------------------------------PRESS-------------------------------------------------------- */
#press{
    background-color: #fe346e;
    /* background-color: #eb4559; */
    text-align: center;
    padding-bottom: 2%;
}
.press-image{
    width: 13%;
    margin: 20px 20px 50px;
}

/* -----------------------------------------------------------PRICING------------------------------------------------------- */

#pricing{
    padding: 100px;
    text-align: center;
}
.price{
    margin-bottom: 40px;
}
.price-head{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}
.price-head-two{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
}
.pricing-col{
    padding: 2% 3%;
}

/* ---------------------------------------------------------------CALL-TO-ACTION -----------------------------------------------------------------*/

#cta{
    background-color: #fe346e;
    color: #fff;
    text-align: center;
    padding: 5% 15%;   
}
.cta-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size:3rem;
}

/*--------------------------------------------------------------- FOOTER ----------------------------------------------------------------------*/

#footer{
    text-align: center;
    margin-top:100px;
  
}   
.foot{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
    color:black;
    
}

.link-foot{
    color:black;
    margin: 20px 10px;
    padding: 5px 30px;
}
.link-foot:hover{
    color:#8f8f8f;
}



/************************************************************ MEDIA-QUERIES************************************************** */
@media (max-width:580px){
    #title{
        text-align: center;
    }
}